:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-dark-grey: #293449;
    --basic-blue-grey: #32425C;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-dark-blue: #1D2739;
    --special-black: #161D29;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-red: #CA2C37;
    --special-pink: #F9F5F0;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --errow: #BA2732;
    --background: #888888;
    --border: #EAEAEA;
    --delete: #A9A9A9;
    --modal: #F4F4F4;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-white);
    text-transform: none;
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header-top {
    background-color: var(--basic-dark-grey);
}

.main-header-logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-header-logo:active {
    background-color: var(--errow);
}

.search {
    background-color: transparent;
    border: none;
}

.user-menu {
    list-style: none;
}

.user-menu a {
    color: var(--basic-white);
}

.user-menu a:not(.checkout):hover {
    background-color: var(--special-black);
}

.checkout:hover {
    background-color: var(--success);
}

.checkout {
    background-color: var(--basic-green);
}

.checkout:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--basic-green);
}

.header-bottom {
    background-color: var(--basic-background);
}

.name {
    color: var(--basic-red);
    font-style: italic;
}

.phone {
    color: var(--basic-red);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    border: 3px solid var(--basic-white);
}

.address {
    color: var(--basic-blue-grey);
    font-size: 14px;
}

.entrance {
    list-style: none;
}

.entrance a {
    color: var(--basic-black);
    background-color: var(--basic-white);
    text-align: center;
}

.entrance a:hover {
    color: var(--basic-red);
}

.entrance a:active {
    color: var(--basic-greylight);
}

.main-navigation {
    background-color: var(--basic-blue-grey);
}

.main-page {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: var(--basic-white);
}

.site-navigation a:hover {
    background-color: var(--basic-dark-grey);
}

.site-navigation a:focus {
    background-color: var(--special-dark-blue);
}

.products-list {
    list-style: none;
}

.button-products {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--basic-white);
}

.button-products:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.button-products:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.materials {
    background-color: var(--special-yellow);
}

.tool {
    background-color: var(--special-blue);
}

.technics {
    background-color: var(--special-lilac);
}

.discount {
    background-color: var(--special-greenlight);
}

.delivery {
    background-color: var(--special-yellow);
}

.slider {
    list-style: none;
}

.slide-name {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.button {
    color: var(--basic-white);
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.button:hover {
    background-color: var(--special-red);
    text-align: center;
}

.button:active {
    background-color: var(--errow);
}

.slide-dots {
    list-style: none;
}

.card {
    list-style: none;
}

.popular-products h2,
.popular-manufacturer h2 {
    color: var(--basic-blue-grey);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.popular-products,
.popular-manufacturer {
    background-color: var(--special-pink);
}

.card-product,
.manufacturers li {
    border: 1px solid var(--border);
}

.card-product h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: var(--basic-black);
    text-align: center;
}

.card-product del {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--delete);
    text-align: center;
}

.card-product .price {
    background-color: var(--basic-red);
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.manufacturers {
    list-style: none;
}

.services {
    background-color: var(--basic-background);
    color: var(--basic-black);
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.menu-services {
    list-style: none;
}

.services-guarantee,
.services-credit {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-blue-grey);
}

.services-delivery {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-blue-grey);
    background-color: var(--basic-white);
}

.services h2,
.about h3,
.location h3 {
    color: var(--basic-black);
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.description-services {
    list-style: none;
}

.description-services li h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--basic-blue-grey);
}

.description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.about,
.location {
    color: var(--basic-black);
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.delivery-companies {
    list-style: none;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.main-footer-nav {
    background-color: var(--basic-blue-grey);
}

.main-footer-logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-footer-logo:active {
    background-color: var(--errow);
}

.main-footer-menu-1,
.main-footer-menu-2 {
    list-style: none;
}

.main-footer-menu-1 a {
    font: inherit;
    color: var(--basic-background);
}

.main-footer-menu-2 a {
    font: inherit;
    color: var(--special-yellowlight);
}

.main-footer-menu-1 a:hover,
.main-footer-menu-2 a:hover {
    text-decoration: underline;
}

.main-footer-menu-1 a:active,
.main-footer-menu-2 a:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-social {
    list-style: none;
}

.footer-bottom {
    background-color: var(--basic-dark-grey);
    font-size: 16px;
    line-height: 18px;
    font-size: 16px;
    line-height: 18px;
}

.social-button {
    color: var(--basic-white);
}

.developer {
    color: var(--special-yellowlight);
}

.developer:hover {
    text-decoration: underline;
}

.developer:active {
    color: var(--basic-red);
    text-decoration: none;
}

.feedback-item input,
.feedback-item textarea {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--delete);
    border: 2px solid var(--basic-greylight);
}

.feedback-item label {
    font: inherit;
    color: var(--basic-black);
}

.modal-buttom {
    background-color: var(--modal);
}

.send {
    border: none;
}
